.comments-section {
  display: block;
  float: left;
  width: 100%;
}
.comments-section .title {
  width: auto;
}
.comments-count {
  border: 2px solid #DBDDE1;
  border-radius: 8px 8px 0 8px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: inline-block;
  line-height: 24px;
  padding: 0 6px;
  vertical-align: middle;
  margin-left: 12px;
}
.comments-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 60px;
}
.comments-form .input-wrap {
  width: 362px;
}
.comments-form .input-wrap.textarea-wrap {
  width: 100%;
}
.comments-form .input {
  background: #ebebeb;
}
.comments-form .textarea {
  margin-bottom: 17px;
  width: 100%;
}
.comments-form .agreement {
  margin-top: 20px;
}
.comments-form .submit-btn {
  margin-top: 24px;
}
.comments-section {
  padding-bottom: 50px;
}
.comments-section .show-more-btn {
  margin-top: 0;
}
.comments-list {
  display: block;
  float: left;
  width: 100%;
}
.comments-list-item {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  background: #ebebeb;
  border-radius: 8px;
}
.comment-item {
  padding: 38px 35px 38px 86px;
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.comment-item-userpic {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 35px;
  overflow: hidden;
}
.comment-item-name {
  display: block;
  float: left;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: auto;
  line-height: 18px;
  margin-right: 10px;
}
.comment-item-date {
  display: block;
  float: left;
  font-size: 12px;
  color: #8E8E8E;
  width: auto;
  line-height: 20px;
}
.comment-item-reply-for {
  display: block;
  float: left;
  font-size: 12px;
  color: #8E8E8E;
  width: auto;
  line-height: 20px;
}
.comment-item-text {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
}
.comment-item .reply-link {
  font-size: 12px;
  color: #0D84FB;
  display: block;
  float: left;
  clear: both;
  margin-top: 12px;
  width: auto;
}
.comment-item .reply-link:hover {
  cursor: pointer;
}
.comment-item .reply-link:hover * {
  cursor: pointer;
}
.comment-item .reply-link:hover {
  text-decoration: underline;
}
.comment-item.reply {
  border-top: 1px solid #DCDEE1;
}
.comment-item.reply .comment-item-date {
  margin-right: 15px;
}
.comment-item-user-ratings {
  display: block;
  float: left;
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 8px;
}
.comment-item-user-ratings .user-rating-result {
  width: auto;
  margin-right: 17px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}
.comment-item-user-ratings .user-rating-result .val {
  color: #0D84FB;
}
.closed-comments-text {
  background: #FFEAEA;
  border-radius: 4px;
  padding: 15px 55px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: relative;
}
.closed-comments-text:before {
  width: 18px;
  height: 22px;
  background: url(../img/closed-comments.svg) center left no-repeat;
  background-size: contain;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -11px;
  content: '';
}
#cancel-comment-reply-link {
  float: right;
}
.dark .comments-form .input {
  background: #2b2b2b;
}
.dark .comments-list-item {
  background: #2b2b2b;
}
.dark .comment-item.reply {
  border-color: #3C3C3C;
}
.dark .comments-count {
  border-color: #747B88;
}
.dark .fb-comments {
  background: #ebebeb;
}
@media screen and (max-width: 1230px) {
  .comments-form .input-wrap {
    width: 317px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1230px) {
  .with-sidebar .comments-form .input-wrap {
    width: 292px;
  }
  .with-sidebar .comments-form .input-wrap.textarea-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .comments-section .wrap-center {
    max-width: 720px;
  }
  .comments-form .input-wrap {
    width: 352px;
  }
}
@media screen and (max-width: 760px) {
  .comments-form .input-wrap {
    width: 100%;
    margin-bottom: 12px;
  }
  .comments-form .input-wrap.name-field {
    -ms-flex-order: -1;
        order: -1;
  }
  .comments-form .input-wrap.email-field {
    -ms-flex-order: -1;
        order: -1;
  }
  .comments-form .input-wrap.comment-field {
    margin-bottom: 0;
  }
  .comments-form .input-wrap.comment-field .textarea {
    margin-bottom: 0;
  }
  .comments-form {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .comment-item-userpic {
    left: 28px;
  }
}
@media screen and (max-width: 480px) {
  .comment-item {
    padding: 30px 25px 30px 80px;
  }
  .comment-item-userpic {
    left: 22px;
    top: 30px;
  }
  .comment-item-text {
    margin-top: 10px;
  }
}
