.index-anchor .top-panel  *,
.index-anchor .top-panel .menu .first-level-menu:before {
    background: transparent;
}

.index-anchor .top-panel *,
.index-anchor .mobile-panel * {
    color: #FFF;
}

.index-anchor .top-panel .menu .first-level-menu,
.index-anchor .top-panel .menu .first-level-menu:before {
    box-shadow: none !important;
}

.index-anchor .top-panel .mode-checkbox-label:after {
    background: #FFF;
}

.index-anchor .mode-checkbox-input:checked + .mode-checkbox-label:after {
    background: #0D84FB;
}

.index-anchor .footer .wrap_float {
    border-top: none;
}

.index-anchor .footer {
    bottom: 0;
    position: absolute;
}

.index-anchor .top-panel {
    position: fixed;
}

.index-anchor,
.index-anchor.content-container-wrap.relative {
    position: fixed ;
    padding-top: 0;
}

.index-anchor .centered {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index-anchor .centered .about {
    width: 25rem;
    text-align: center;
}

.index-anchor .centered .about h1,
.index-anchor .centered .about h2,
.index-anchor .centered .about ul,
.index-anchor .centered .about ul li,
.index-anchor .centered .about a {
    float: none;
}

.dark .index-anchor .footer *,
.dark .index-anchor .centered .about * {
    color: #2B2B2B;
}

.index-anchor .centered .about h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.index-anchor .centered .about h2 {
    font-size: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    font-family: fangsong;
}

.index-anchor .centered .about ul {
    list-style: none;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
}

.index-anchor .centered .about ul li {
    display: inline;
    position: relative;
}

.index-anchor .centered .about ul li a {
    color: #212121;
    text-transform: uppercase;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
}

.index-anchor .centered .about ul li a:hover,
.centered .about ul li a:focus {
    color: #1565c0;
}

.index-anchor .centered .avatar {
    margin-bottom: 1rem;
}

.index-anchor .centered .avatar img {
    width: 11rem;
    height: auto;
    transition: transform 1s ease 0s;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5em rgb(0 0 0 / 5%);
}

.index-anchor .centered .avatar img:hover {
    transform: scale(1.05);
    box-shadow: none;
}

@media screen and (max-width: 1000px) {
    .index-anchor .footer .menu > ul > li:not(:first-child) {
        display: none;
    }

    .index-anchor .opened  * {
        color: #000;
    }

    .dark .index-anchor .opened * {
        color: #FFF;
    }

    .dark .index-anchor .mode-checkbox-label:after {
        background: #FFF;
    }
}

