.modal {
  width: 460px;
  position: relative;
}
.modal .title {
  margin-bottom: 15px;
}
.modal .subtitle {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 22px;
}
.modal-form {
  float: left;
  margin-top: 5px;
}
.modal_wrap {
  float: left;
  background: #fff;
  border-radius: 13px;
  padding: 44px 48px;
}
.modal .input-wrap {
  margin-right: 0;
  margin-bottom: 17px;
}
.modal .input {
  background: #ebebeb;
  border-color: #ebebeb;
}
.modal .agreement {
  margin-top: 0;
  margin-bottom: 17px;
}
.modal .footnote {
  color: #8E8E8E;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}
.modal .footnote a {
  color: #fff;
}
.modal .btn {
  width: 100%;
}
.modal-info {
  float: left;
  border-top: 1px solid #DCDEE1;
  margin-top: 36px;
  padding-top: 40px;
  text-align: center;
  line-height: 1.4;
}
.modal-info p {
  margin: 5px 0;
}
.modal-info p:first-child {
  margin-top: 0;
}
.modal-info p:last-child {
  margin-bottom: 0;
}
.modal-info a {
  color: #0D84FB;
  display: inline-block;
}
.modal_close {
  background: rgba(255, 255, 255, 0.17);
  border-radius: 50%;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
}
.modal_close:hover {
  cursor: pointer;
}
.modal_close:hover * {
  cursor: pointer;
}
.modal_close:before {
  width: 12px;
  height: 12px;
  background: url(../img/close.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}
.modal input:-webkit-autofill,
.modal input:-webkit-autofill:hover,
.modal input:-webkit-autofill:focus,
.modal textarea:-webkit-autofill,
.modal textarea:-webkit-autofill:hover,
.modal textarea:-webkit-autofill:focus,
.modal select:-webkit-autofill,
.modal select:-webkit-autofill:hover,
.modal select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.modal.modal_order {
  width: 744px;
}
.modal.modal_order .input-wrap {
  width: 48%;
}
.modal.modal_order .modal-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.success-icon {
  width: 58px;
  height: 58px;
  background: #E1F0FF;
  border-radius: 50%;
  margin-bottom: 12px;
  position: relative;
}
.success-icon:before {
  width: 24px;
  height: 24px;
  background: url(../img/check-list-before.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  margin-top: -12px;
  margin-left: -12px;
  top: 50%;
  left: 50%;
}
.authorization-socials {
  float: left;
  margin-top: 36px;
}
.authorization-socials ._title {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.authorization-socials-variants {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.authorization-socials-variants .soc-link {
  width: 38px;
  height: 38px;
  margin-right: 15px;
}
.authorization-socials-variants .soc-link:hover {
  cursor: pointer;
}
.authorization-socials-variants .soc-link:hover * {
  cursor: pointer;
}
.authorization-socials-variants .soc-link:last-child {
  margin-right: 0;
}
.authorization-socials-variants .soc-link.active {
  background: #0D84FB;
}
.authorization-socials-variants .soc-link.active:hover {
  background: #1d1d1d;
}
.arcticmodal-overlay {
  background: rgba(0, 0, 0, 0.8);
}
.dark .modal_wrap {
  background: #2b2b2b;
}
.dark .modal .input {
  background: #222;
  border-color: #222;
}
.dark .modal .input-wrap.active label {
  background: #2b2b2b;
}
.dark .modal .input-wrap.active .input {
  background: none;
}
.dark .modal input:-webkit-autofill,
.dark .modal input:-webkit-autofill:hover,
.dark .modal input:-webkit-autofill:focus,
.dark .modal textarea:-webkit-autofill,
.dark .modal textarea:-webkit-autofill:hover,
.dark .modal textarea:-webkit-autofill:focus,
.dark .modal select:-webkit-autofill,
.dark .modal select:-webkit-autofill:hover,
.dark .modal select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}
@media screen and (max-width: 1400px) {
  .modal_close {
    top: 0;
    right: -43px;
  }
}
@media screen and (max-width: 760px) {
  .modal.modal_order {
    width: 100%;
  }
  .modal.modal_order .input-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  .modal {
    width: 100%;
  }
  .modal_wrap {
    padding: 40px 20px;
  }
  .modal_close {
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.77);
  }
  .authorization-socials {
    margin-top: 28px;
  }
  .modal-info {
    margin-top: 28px;
  }
  .modal-info {
    padding-top: 30px;
  }
}
