.top-panel {
    padding: 45px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    float: left;
    width: 100%;
}

.top-panel .wrap_float {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: right;
    position: relative;
}

.top-panel .wrap_float .mode-check {
    position: absolute;
    left: 0;
}

.top-panel .wrap_float .search-button {
    margin: auto 0;
    margin-left: 20px;
    width: auto;
    height: auto;
}

.top-panel .wrap-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: right;
}

.top-panel .socials {
    display: none;
}

.top-panel .menu-close {
    display: none;
}

.top-panel .user-panel {
    display: block;
    float: left;
    width: auto;
}

.top-panel .user-panel ul {
    display: -ms-flexbox;
    display: flex;
}

.top-panel .user-panel li {
    display: block;
    float: left;
    width: auto;
}

.top-panel .link-to-favorites {
    position: relative;
    top: auto;
    left: auto;
    width: 32px;
    height: 32px;
    margin-left: 24px;
}

.top-panel .link-to-favorites .is-added {
    width: 14px;
    height: 18px;
    margin-top: -9px;
    margin-left: -7px;
}

.top-panel .link-to-favorites .fav-count {
    height: 24px;
    line-height: 24px;
    width: auto;
    min-width: 24px;
    border-radius: 12px;
    background: #1d1d1d;
    display: block;
    position: absolute;
    top: -12px;
    left: 23px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    z-index: 1;
}

.top-panel.top-panel-wide .wrap-wide .wrap {
    max-width: 1200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.top-panel.top-panel-wide .wrap-wide .wrap .wrap-center {
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.top-panel.top-panel-wide .wrap-wide .wrap .wrap-center .currency-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

.top-panel.top-panel-wide .wrap-wide .wrap .wrap-center .currency-wrap .currency-label {
    display: none;
}

.top-panel.top-panel-wide .wrap-wide .user-panel {
    position: absolute;
    right: 0;
}

.currency-wrap {
    width: auto;
}

.currency-select {
    width: auto;
    height: 32px;
    background: #8E8E8E;
    display: block;
    float: left;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    border: 0;
    text-align: center;
    padding: 0 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.currency-select:hover {
    cursor: pointer;
}

.currency-select:hover * {
    cursor: pointer;
}

.mobile-panel {
    display: none;
}

.mode-checkbox-input {
    display: none;
}

.mode-checkbox-label {
    position: relative;
    padding-left: 50px;
    font-size: 15px;
    color: #8E8E8E;
    line-height: 32px;
    display: block;
}

.dark .mode-checkbox-label {
    color: #FFF;
}

.mode-checkbox-label:hover {
    cursor: pointer;
}

.mode-checkbox-label:hover * {
    cursor: pointer;
}

.mode-checkbox-label:before {
    width: 40px;
    height: 24px;
    border: 2px solid #DBDDE1;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    border-radius: 12px;
}

.mode-checkbox-label:after {
    width: 14px;
    height: 14px;
    background: #747B88;
    border-radius: 50%;
    position: absolute;
    content: '';
    left: 4px;
    top: 9px;
}

.mode-checkbox-label.transition:after {
    transition: all 0.2s linear;
}

.mode-checkbox-input:checked + .mode-checkbox-label:after {
    left: 21px;
    background: #0D84FB;
}

.mode-check {
    width: auto;
}

.search-button {
    width: 18px;
    height: 32px;
    display: block;
    float: left;
    position: relative;
}

.search-button:hover {
    cursor: pointer;
}

.search-button:hover * {
    cursor: pointer;
}

.menu {
    width: auto;
    float: left;
}

.menu > ul {
    width: auto;
    float: left;
}

.menu > ul ul {
    display: none;
}

.menu > ul ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}

.menu > ul ul a {
    line-height: 20px;
    display: block;
}

.menu > ul > li {
    width: auto;
    position: relative;
    display: block;
    float: left;
    line-height: 32px;
}

.menu > ul > li > a {
    padding: 0 20px;
    font-size: 15px;
    display: block;
    float: left;
}

.menu > ul > li > a:hover {
    color: #0D84FB;
}

.menu > ul > li > a.profile-link {
    padding: 0;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}

.menu > ul > li > a.profile-link span {
    display: none;
}

.menu > ul > li:last-child {
    margin-right: 0;
}

.menu > ul > li.profile-li {
    margin-left: 20px;
}

.menu > ul a {
    padding-right: 15px;
}

.first-level-menu {
    width: 210px;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    left: 0;
    top: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.27);
    padding: 14px 20px;
    z-index: 3;
}

.first-level-menu > li {
    position: relative;
}

.first-level-menu > li.dropdown-li > a {
    position: relative;
    padding-right: 42px;
    display: block;
    width: 100%;
}

.first-level-menu > li.dropdown-li > a:before {
    width: 6px;
    height: 10px;
    background: url(../img/a-before.svg) center right no-repeat;
    background-size: contain;
    content: '';
    right: 0;
    top: 50%;
    margin-top: -5px;
    position: absolute;
    transition: all 0.2s linear;
}

.first-level-menu > li.dropdown-li > a:after {
    width: 6px;
    height: 10px;
    background: url(../img/a-after.svg) center right no-repeat;
    background-size: contain;
    content: '';
    right: 0;
    top: 50%;
    margin-top: -5px;
    position: absolute;
    opacity: 0;
    transition: all 0.2s linear;
}

.first-level-menu > li.dropdown-li > a:hover,
.first-level-menu > li.dropdown-li > a.hover {
    color: #0D84FB;
}

.first-level-menu > li.dropdown-li > a:hover:before,
.first-level-menu > li.dropdown-li > a.hover:before {
    opacity: 0;
}

.first-level-menu > li.dropdown-li > a:hover:after,
.first-level-menu > li.dropdown-li > a.hover:after {
    opacity: 1;
}

.dropdown-li > a:hover {
    cursor: pointer;
}

.dropdown-li > a:hover * {
    cursor: pointer;
}

.profile-li {
    position: relative;
}

.profile-li .author-image {
    width: 32px;
    height: 32px;
}

.profile-li a {
    padding-left: 42px;
}

.profile-li a:hover span:before {
    opacity: 0;
}

.profile-li a:hover span:after {
    opacity: 1;
}

.profile-li span {
    position: relative;
}

.profile-li .profile-ul {
    position: absolute;
    width: 210px;
    right: 0;
    top: 100%;
}


.dark .top-panel.fixed {
    background: #1d1d1d;
}

.dark .top-panel.fixed.scrolled,
.dark .top-panel.fixed-scroll-up.scrolled {
    border-color: #3C3C3C;
}

.dark .top-panel.fixed-scroll-up.scrolled {
    background: #1d1d1d;
}

.dark .mobile-btn span {
    background: #fff;
}

.dark .first-level-menu {
    background: #2b2b2b;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.27);
}

.dark .first-level-menu > li.dropdown-li > a:before {
    background-image: url(../img/a-before-white.svg);
}

.dark .wp-content blockquote {
    background: #2b2b2b;
}

.dark .wp-content code {
    background: #2b2b2b;
}

.dark .wp-content table td,
.dark .wp-content table th {
    border-color: #3c3c3c;
}

.dark .top-panel.white-color .menu > ul ul {
    color: #fff;
}

.dark .top-panel.fixed.white-color.white-color.scrolled {
    background: #1d1d1d;
    color: #fff;
}

.dark .top-panel.fixed-scroll-up.white-color.scrolled {
    color: #fff;
}

@media screen and (min-width: 1001px) {
    .first-level-menu {
        box-shadow: none;
        padding: 14px 0;
    }

    .first-level-menu:before {
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        border-radius: 10px;
        z-index: 1;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.27);
        transition: none;
    }

    .first-level-menu > li:not(.dropdown-li),
    .first-level-menu > li > a {
        z-index: 2;
    }

    .first-level-menu > li > a {
        padding-left: 20px;
    }

    .first-level-menu > li > a:before,
    .first-level-menu > li > a:after {
        right: 20px !important;
    }

    .dark .first-level-menu:before {
        background: #2b2b2b;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.27);
    }

    .top-panel {
        transition: padding 0.2s linear;
    }

    .top-panel.fixed {
        position: fixed;
        background: #fff;
    }

    .top-panel.fixed.scrolled {
        padding: 20px 0;
        border-bottom: 1px solid #DCDEE1;
    }

    .top-panel.fixed.white-color {
        background: none;
    }

    .top-panel.fixed.white-color.scrolled {
        background: #fff;
        color: #1d1d1d;
    }

    .top-panel.fixed-scroll-up.scrolled {
        padding: 20px 0;
        transition: left 0.2s linear;
        position: fixed;
        top: -73px;
        background: #fff;
        border-bottom: 1px solid #DCDEE1;
    }

    .top-panel.fixed-scroll-up.scrolled.active {
        top: 0;
        transition: top 0.2s linear;
    }

    .top-panel.fixed-scroll-up.scrolled.active.hidden {
        top: -73px;
        transition: top 0.2s linear;
    }

    .top-panel.fixed-scroll-up.white-color.scrolled {
        color: #1d1d1d;
    }

    .top-panel.white-color {
        color: #fff;
    }

    .top-panel.white-color > .wrap {
        position: relative;
        z-index: 4;
    }

    .top-panel.white-color .menu > ul ul {
        color: #1d1d1d;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1001px) {
    .top-panel.fixed.scrolled,
    .top-panel.fixed-scroll-up.scrolled {
        padding: 12px 0;
    }

    .top-panel.fixed-scroll-up.scrolled {
        top: -57px;
    }

    .top-panel.fixed-scroll-up.scrolled.active.hidden {
        top: -57px;
    }
}

@media screen and (max-width: 1700px) {
    .top-panel.top-panel-wide .wrap-wide .wrap {
        max-width: 744px;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap .wrap-center .currency-wrap {
        left: auto;
        right: -60px;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap .wrap-center {
        position: static;
    }

    .menu > ul > li.profile-li {
        margin-left: 15px;
    }
}

@media screen and (max-width: 1230px) {
    .menu > ul > li > a {
        padding: 0 15px;
    }

    .top-panel.top-panel-wide .wrap-wide {
        max-width: 960px;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap {
        max-width: 650px;
    }
}

@media screen and (max-width: 1000px) {
    .top-panel {
        padding: 0;
        height: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -320px;
        width: 320px;
        background: #fff;
        transition: all 0.2s linear;
        overflow: auto;
        z-index: 11;
    }

    .top-panel.opened {
        left: 0;
    }

    .top-panel  .menu {
        width: 100%;
    }

    .top-panel .menu li {
        width: 100%;
        margin-bottom: 17px;
    }

    .top-panel .menu li a {
        font-size: 22px;
        line-height: 34px;
        padding: 0;
    }

    .top-panel .menu .split {
        display: none;
    }

    .top-panel .menu-close {
        font-size: 20px;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 38px;
        right: 38px;
        display: block;
        text-align: center;
    }

    .top-panel .menu-close .fa-solid {
        text-align: center;
    }

    .top-panel .wrap {
        padding: 95px 35px 45px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        float: left;
        margin: 0;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
    }

    .top-panel .wrap .wrap {
        padding: 0;
    }

    .top-panel .socials {
        margin-top: 50px;
        display: block;
    }

    .top-panel .wrap-center {
        width: 100%;
    }

    .menu > ul > li.profile-li {
        margin-left: 0;
    }

    .menu > ul {
        width: 100%;
    }

    .mobile-panel {
        display: block;
        float: left;
        padding: 24px 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        transition: padding 0.2s linear;
    }

    .mobile-panel.fixed {
        position: fixed;
        background: #fff;
    }

    .mobile-panel.fixed.scrolled {
        padding: 14px 0;
        border-bottom: 1px solid #DCDEE1;
    }

    .mobile-panel.fixed.white-color {
        background: none;
    }

    .mobile-panel.fixed.white-color.scrolled {
        background: #fff;
    }

    .mobile-panel.fixed-scroll-up {
        background: #fff;
    }

    .mobile-panel.fixed-scroll-up.scrolled {
        padding: 14px 0;
        transition: left 0.2s linear;
        position: fixed;
        border-bottom: 1px solid #DCDEE1;
        top: -61px;
    }

    .mobile-panel.fixed-scroll-up.scrolled.active {
        top: 0;
        transition: top 0.2s linear;
    }

    .mobile-panel.fixed-scroll-up.scrolled.active.hidden {
        top: -61px;
        transition: top 0.2s linear;
    }

    .mobile-panel.fixed-scroll-up.white-color {
        background: none;
    }

    .mobile-panel.fixed-scroll-up.white-color.scrolled {
        background: #fff;
    }

    .mobile-panel.white-color:not(.scrolled) {
        color: #fff;
    }

    .mobile-panel.white-color:not(.scrolled) .mobile-btn span {
        background: #fff;
    }


    .mobile-panel.white-color:not(.scrolled) .wrap {
        position: relative;
        z-index: 4;
    }

    .mobile-panel .wrap_float {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .dark .mobile-panel.fixed.white-color:not(.scrolled),
    .dark .mobile-panel.fixed-scroll-up.white-color:not(.scrolled) {
        background: none;
    }

    .dark .mobile-panel.fixed.white-color.scrolled,
    .dark .mobile-panel.fixed-scroll-up.white-color.scrolled {
        background: #1d1d1d;
    }

    .mobile-btn {
        margin: auto 0 auto 10px;
        width: auto;
        height: auto;
        font-size: 24px;
    }

    .mode-checkbox-label:before {
        width: 50px;
        height: 30px;
        border-radius: 15px;
    }

    .mode-checkbox-label:after {
        width: 18px;
        height: 18px;
        left: 6px;
        top: 10px;
    }

    .mode-checkbox-label {
        font-size: 18px;
        line-height: 38px;
        padding-left: 60px;
    }

    .mode-checkbox-input:checked + .mode-checkbox-label:after {
        left: 26px;
    }

    .top-panel .wrap_float .mode-check {
        left: 35px;
        top: 30px;
    }

    .search-button {
        margin: auto 10px auto 0;
        width: auto;
        height: auto;
        font-size: 24px;
    }

    .search-button:before {
        width: 25px;
        height: 26px;
        right: 0;
        left: auto;
        margin-top: -13px;
    }

    .top-panel .wrap_float .search-button {
        position: relative;
        display: none;
    }

    .top-panel .wrap_float {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        position: static;
    }

    .top-panel .menu li a:hover {
        color: #1D1D17;
    }

    .top-panel .menu li.dropdown-li > a {
        position: relative;
        padding-right: 20px;
    }

    .top-panel .menu li.dropdown-li > a:before {
        width: 10px;
        height: 14px;
        background: url(../img/a-before.svg) center right no-repeat;
        background-size: contain;
        content: '';
        right: 9px;
        top: 50%;
        margin-top: -8px;
        position: absolute;
        transition: opacity 0.2s, transform 0.2s;
        transform: rotate(90deg);
    }

    .top-panel .menu li.dropdown-li > a:after {
        width: 10px;
        height: 14px;
        background: url(../img/a-after.svg) center right no-repeat;
        background-size: contain;
        content: '';
        right: 9px;
        top: 50%;
        margin-top: -8px;
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transform: rotate(90deg);
    }

    .top-panel .menu li.dropdown-li > a.opened:before {
        opacity: 0;
    }

    .top-panel .menu li.dropdown-li > a.opened:after {
        opacity: 1;
    }

    .top-panel .menu li.dropdown-li > a:before {
        opacity: 1;
    }

    .first-level-menu {
        position: static;
        padding: 0;
        box-shadow: none;
        width: 100%;
        background: none;
    }

    .top-panel .menu > ul ul li {
        margin-bottom: 14px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .top-panel .menu > ul ul li a {
        line-height: 30px;
    }

    .top-panel .menu > ul ul li:last-child {
        margin-bottom: 5px;
    }

    .menu > ul ul {
        margin-top: 13px;
        padding-left: 8px;
        float: left;
    }

    .first-level-menu > li.dropdown-li > a,
    .top-panel .menu li a {
        width: 100%;
        float: left;
    }

    .top-panel .menu li a.opened {
        color: #0D84FB;
    }

    .top-panel .menu li a.opened:before,
    .top-panel .menu li a.opened:after {
        transform: rotate(-90deg);
    }

    .profile-li span {
        padding-right: 0;
    }

    .profile-li span:before,
    .profile-li span:after {
        display: none;
    }

    .profile-li .profile-ul {
        padding-left: 42px;
        position: static;
    }

    .top-panel .user-panel li.li-fav-link {
        display: none;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap .wrap-center {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap .wrap-center .currency-wrap {
        position: static;
        margin-bottom: 17px;
    }

    .top-panel.top-panel-wide .wrap-wide .wrap .wrap-center .currency-wrap .currency-label {
        display: block;
        float: left;
        width: auto;
        font-size: 22px;
        line-height: 34px;
        margin-right: 18px;
    }

    .currency-select {
        height: 34px;
        background: #969292;
    }

    .dark .top-panel .menu li a:hover {
        color: #fff;
    }

    .dark .top-panel .menu li a.opened {
        color: #0D84FB;
    }

    .dark .top-panel .menu li.dropdown-li > a:before {
        background-image: url(../img/a-before-white.svg);
    }

    .dark .first-level-menu {
        background: none;
        box-shadow: none;
    }

    .dark .mobile-panel.fixed {
        background: #1d1d1d;
    }

    .dark .mobile-panel.scrolled {
        border-color: #3C3C3C;
    }

    .dark .mobile-panel.fixed-scroll-up {
        background: #1d1d1d;
    }

    .dark .top-panel {
        background: #1d1d1d;
    }

    .content-container.page--move .mobile-panel {
        border-radius: 13px 13px 0 0;
    }

    .menu > ul > li > a.profile-link span {
        display: block;
    }

    .menu > ul > li > a.profile-link {
        padding-left: 42px;
        padding-right: 20px;
        width: 100%;
    }

    .top-panel.top-panel-wide .wrap-wide .user-panel {
        position: static;
    }
}

@media screen and (max-width: 760px) {
    .first-level-menu {
        border-radius: 0;
    }
}

@media screen and (max-width: 590px) {
}
